@charset "UTF-8"; /* caso haja problemas com acentuação */

:root {
    --cor_transparente: #f4f4f496;
    --branco: #F4F4F4;
    --azul: #049CD8;
}

body {
    height: 100vh;
    
    background-image: url(../image/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Nunito';
}

main {
    width: min(1200px, 100vw);

    height: max(200px, 60vh);
    
    margin: 10px;

    background-color: var(--cor_transparente);

    padding: 125px;
    
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;

    column-gap: min(80px, 10vw);

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

#logos {
    display: flex;
    align-items: center;
    flex-direction: column;

    /* background-color: rgba(255, 0, 0, 0.349); */

    row-gap: 50px;
}

#logo-Kenzie {
    margin: 30px 0px 30px 0px;
}

#logo-Kenzie {
    width: 165px;
    height: 41px;
}

#jogar {
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;

    row-gap: 4em;

    /* background-color: rgba(0, 255, 55, 0.349); */
}

#jogar p {
    width: 375px;

    margin: 30px;
    
    font-size: min(32px, 10vw);
    font-weight: 700;

    font-style: normal;
    
    line-height: min(44px, 17vw);

    text-align: center;
}

#jogar > button {
    width: min(400px, 90vw);
    height: min(104px, 30vw);

    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.493);
    background-color: var(--azul);
    color: var(--branco);

    font-size: min(64px, 10vw);
    font-weight: 900;

    text-align: center;
}

#jogar > button:hover {
    cursor: pointer;

    background-color: transparent;

    border: 3px solid var(--azul);

    color: var(--azul);
}